
<div class="container col-md-6 " style="margin-top: -650px; margin-left: 35%;" >
    <div class="panel panel-info">
        <div class="panel-heading" style="color: white; text-align: center;"><h2>Registre de Naissance</h2></div>
        <div class="panel-body">
            <table class="table table-condensed table-novel table-hover" style="color: white;">
                <tr style="background-color: blue;">
                    <th>libelle</th>
                    <th>niveau</th>
                    <th>filiere</th>
                    <th>Action1</th>
                    <th>Action2</th>
                </tr>
                <b>
                    <tr>
                        <td> </td>
                        <td></td>
                        <td></td>
                    </tr>
                </b>
            </table>
        </div>
    </div>
</div>
<style>
    .spacer{
    margin-top: 60px;}
</style>