<div class="container col-md-8 " style="margin-top: -650px; margin-left: 33%;" >
    <div class="panel panel-info">
        <div class="panel-heading" style="color: white; text-align: center;"><h2>Liste élève</h2></div>
        <div class="panel-body">
            <table class="table table-condensed table-novel table-hover" style="color: white;">
                <tr style="background-color: blue;">
                    <th>Matricule</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>dateNaissance</th>
                    <th>sexe</th>
                    <th>classe</th>
                    <th>Action1</th>
                    <th>Action2</th>
                </tr>
               <tr>
                
               </tr>
            </table>
        </div>
    </div>
</div>
<style>
    .spacer{
    margin-top: 60px;}
</style>